---
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
  <head>
    <!-- Google Analytics Global Site Tag -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-56FMGB8XJ3"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-56FMGB8XJ3');
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Astro E-commerce</title>
  </head>
  <body>
    <Navbar/>
    <h1>Welcome to Astro E-commerce</h1>
  </body>
</html>