---
import Layout from "../layouts/Layout.astro";
import GoogleAnalytics from "../components/googleAnalytics.astro";
---

<html>
  <head>
    <title>My Astro Site</title>
    <GoogleAnalytics />
  </head>
  <body>
    <Layout>
      <h1>welcome to astro Analytics</h1>
      <p>We are performing the google analytics using the ga4.</p>
    </Layout>
  </body>
</html>

<!-- <html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-56FMGB8XJ3"
    ></script>
    <script>
      {
        `
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-56FMGB8XJ3");
      `;
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html> --><!-- 
Stream Name
astro
Stream URL
https://astro-kappa-silk.vercel.app/
Stream ID
8568890882
Measurement Id
G-56FMGB8XJ3 
-->
